@font-face {
    font-family: NunitoSans;
    src: url(NunitoSans-Regular.ttf);
}
body{
    font-family: NunitoSans;
    color: #111517;
    margin: 0 0 0 0;
    background-color: #fafafa;
}


    header{
   margin-top: 0;
background-color: white;
width: 100%;
margin-bottom: 2px;
        height: 50px;
        box-shadow:  2px 0 20px 0 rgba(0, 0, 0, 0.15);
        display: flex;
        justify-content: space-between;

    }


#headerTitle{
    float: left;
    color: black;
    text-align: center;

    padding-left: 40px;
    padding-top: 12px;
    font-size: 18px;
    font-weight: 800;



}

#headerRight{
    float: right;
    color: black;
    text-align: center;
    padding-top:12px;
    padding-right: 40px;
    font-size: 15px;
    font-weight: 600;
}
#moon{
    margin-right: 5px;
}
main{
    width: 100%;
    background-color: #fafafa;
    margin: auto;
    display: block;
}
img{
    width: 260px;
    height: 150px;
    object-fit: cover;

}
figure{
    color: #111517;
    width:max-content;


    display: inline-block;
    background-color: white;
    box-shadow:  0 2px 20px 0 rgba(0, 0, 0, 0.05);


    border-radius: 5px;


}
.shadow{
    box-shadow:  0 2px 20px 0 rgba(0, 0, 0, 0.05);
    border-radius: 5px;

}
figcaption {
    padding-left: 12px;
    margin-bottom: 30px;
}

.countryName{
    font-size: 16px;
    font-weight: bolder;
  margin: 10px;
}
.countryFeature{
    font-size: 12px;
    margin-left: 10px;
    font-weight:600 ;
    margin-bottom: 5px;
}
.featureValue{
    font-weight: 300;

}
#searchBar{
margin-left: 40px;
    background-color: white;
    width: 440px;
    padding-left: 20px;

    margin-bottom: 30px;
    margin-top: 30px;
    height: 40px;
}
#search{
width: 80%;
    height: 80%;
    border: none;
    margin-left: 10px;
    font-weight: 300;



}
#searchIcon{
    cursor: pointer;
padding-top: 12px;
}
#flexDiv{
    display: flex;
    justify-content: space-between;

}

#menu{
    font-size: 12px;
font-weight: 600;
    margin-right: 40px;

    flex-direction: column;


   width: 170px;
    margin-top: 30px;
}

.menuContent{
   display: none;
    background-color: white;
    margin-top: 5px;
    z-index: 1;
    width: 170px;
    position: absolute;
    border-radius: 5px;

}
.dropDown{
    background-color: white;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    border-radius: 5px;

}
#menu:hover .menuContent{
    display: block;
}
.menuItem{
    margin-bottom: 10px;
    margin-top: 20px;
    margin-left: 20px;

}
#menuIcon{
float: right;
    margin-right: 20px;
    margin-top: 2px;
}

@media only screen and (max-width: 550px) {
    #flexDiv {
        display: block;
        float: left;
    }

    #searchBar {
        width: 80%;
        margin-left: 20px;
    }

    #menu {
        margin-left: 20px;
    }

    #headerTitle{
        padding-left: 20px;
    }
}